Source: python3-pyshell
VCS-Git: https://salsa.debian.org/volian-team/pyshell.git
VCS-Browser: https://salsa.debian.org/volian-team/pyshell
Priority: important
Section: python
Homepage: https://salsa.debian.org/volian-team/pyshell
Maintainer: Blake Lee <blake@volitank.com>
Standards-Version: 4.6.0
Build-Depends:	debhelper-compat (= 13),
				dh-python,
				python3-all-dev, 
				python3-sphinx,
				sphinx-rtd-theme-common,

Package: python3-pyshell
Section: python
Architecture: all
Depends:	${python3:Depends},
			python3-click,
			python3-wcwidth,
Suggests:	python3-pyshell-doc
Description: a Linux subprocess module, an easier way to interact with the Linux shell
 pyshell is a Linux subprocess module focused on making it easier
 to interact with the shell within python code.
 .
 This release is alpha and currently tracks pyshell python version 1.0.0a6

Package: python3-pyshell-doc
Section: doc
Architecture: all
Depends:	${misc:Depends},
			${sphinxdoc:Depends},
Suggests:	python3-pyshell
Description: a Linux subprocess module - documentation
 pyshell is a Linux subprocess module focused on making it easier
 to interact with the shell within python code.
 .
 This package contains the documentation for pyshell
